$theme: #8686ed;

/* 布局 */
$sidebar-width: 210px;
$collapse-sidebar-width: 60px;
$sidebar-background: #324c64;

$navbar-height: 30px;
$navbar-padding: 20px;
$header-height: 70px;
$reusetab-height: 40px;

$navbar-background: #beccd8;
$appmain-background: #f0f4fb;
$header-background: #6571e0;
$header-start-background: #6571e0;
$header-end-background: #6571e0;
$right-side-font-color: #666666;
$reuse-tab-item-background: #ffffff;

$title-color: #45526b;
$parent-title-color: #8686ed;

$table-border-color: #dee2e6;

/* 菜单 */
$menuItem-hover: #1f2d3d;
$menuItem-bg: #ebf1f9;
$submenu-title: #202422;
$menuItem-height: 40px;

$active-font-color: white;
$active-font-background: #8686ed;
